<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>WISE Client Portal</title>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDtFt9CIaNT-Y489y6Z8FDYB3PVbFoI0xA&libraries=geometry,visualization,drawing"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDIwg0biR0nsqK6z93gA-XdUV-B-_b_xko&signed_ins&signed_in=true&sensor=false&libraries=places&language=en" async></script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
      window.$zopim || (function (d, s) {
        var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
          d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
            z.set.
            _.push(o)
          }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
        $.src = "https://v2.zopim.com/?5tnmayXDM3S3AxTFzarb8ctQNZ7QWrac"; z.t = +new Date; $.
          type = "text/javascript"; e.parentNode.insertBefore($, e)
      })(document, "script");
    </script>
    <!--End of Zendesk Chat Script-->

    <!-- Start of Google Analytics -->
    <% if (htmlWebpackPlugin.options.enableGoogleAnalytics) {%>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167822942-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-167822942-1');
      </script>
    <% } %>
    <!-- End of Google Analytics -->
  </body>
</html>
