.v-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .25);
}

.el-message-box__wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2019;
}

.el-message-box__wrapper:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.el-message-box {
  display: inline-block;
  width: 420px;
  padding-bottom: 10px;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  font-size: 18px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  text-align: left;
  overflow: hidden;
  backface-visibility: hidden;
}

.el-message-box__header {
  position: relative;
  padding: 15px;
  padding-bottom: 10px;
}

.el-message-box__title {
  padding-left: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1;
  color: #303133;
}

.el-message-box__content {
  position: relative;
  padding: 10px 15px;
  color: #606266;
  font-size: 14px;

  .el-icon-warning {
    display: none;
  }
}

.el-message-box__message {
  margin: 0;
}

.el-message-box__input {
  padding-top: 15px;
}

.el-message-box__btns {
  padding: 5px 15px 0;
  text-align: right;
}

.el-button--small {
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 3px;
}

.el-message-box__message p {
  margin: 0;
  line-height: 24px;
}

.el-button--primary {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}

.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border-color: #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  width: auto !important;
  color: rgb(63, 81, 181);
}

.el-message-box__headerbtn {
  display: none;
}


.clien-portal-box {
  border-radius: 0;
  border: 0;
  width: 30%;

  .el-message-box__header {
    // background: #2e323c;
  }

  .el-message-box__header {
    color: #fff;
  }
  .el-message-box__title{
    color: #fff;
    padding-left: 15px;  
  }
  .el-message-box__content{
    padding: 25px 50px;
  }
  .el-message-box__message{
    color: #000;
  }
  .el-message-box__btns{
    padding: 0 50px;
  }
  .cancel-class , .delete-class {
    min-width: 100px;
    text-align: center;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    padding: 0;
    font-weight: 700;
  }
  .cancel-class {
    border: 2px solid #15223d;
    background: #fff;
    color: #000;
    float: left;
  }
  .delete-class{
    background: #c96c6c;
    color: #fff;
  }
}
