@media (min-width: 1025px) {
  .grid-12 {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 12%;
  }
  .grid-5 {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 5%;
  }
  .grid-6 {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 6%;
  }
  .grid-9 {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 9%;
  }
}

.search {
  border: 0px !important;
  height: 39.7px !important;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding-left: 40px;
}

.padding-top-12 {
  padding-top: 12px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-top-17 {
  padding-top: 17px;
}

.padding-top-18 {
  padding-top: 18px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-29 {
  padding-top: 29px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-38 {
  padding-top: 38px;
}

.padding-top-40 {
    padding-top: 40px;
  }

.padding-top-45 {
  padding-top: 45px;
}

.padding-top-60 {
  padding-top: 60px;
}

.padding-top-80 {
  padding-top: 80px;
}

.padding-right-45 {
  padding-right: 45px;
}

.padding-right-60 {
  padding-right: 60px;
}

.padding-right-70 {
  padding-right: 70px;
}

.margin-left-seven-percent{
  margin-left: 7%;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-30 {
  margin-top: 40px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-right-40 {
    margin-right: 40px;
  }
  
.margin-right-90 {
  margin-right: 90px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-left-53 {
  margin-left: 53px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-35 {
  margin-bottom: 35px;
}
