.small-cover {
    padding-left: 15px;
    overflow: hidden;
}
.search-area {
    line-height: 20px;
    margin-bottom: 10px;
    label {
        height: 22px !important;
        font-size: 14px;
    }
}