.multiple-item-group-complete {
	// border: 1px solid #656565;
	box-sizing: border-box;
	padding: 0;
	.select-icon{
		height: 37px;
	}
	input {
		box-sizing: border-box;
		border: none;
		outline: none;
		height: 37px;
		background: none;
	}
	.per-item {
		position: relative;
		display: inline-block;
		max-width: 96%;
		margin: 0 0 4px 6px;
		background-color: #f0f2f5;
		// height: 24px;
		line-height: 22px;
		padding: 0 8px;
		font-size: 12px;
		border-radius: 4px;
		color: #15223d;
		// white-space:nowrap;
		strong {
			display: inline-block;
			padding-right: 24px;
		}
		i {
			position: absolute;
			right: 6px;
			top: 50%;
			display: block;
			transform: translateY(-50%);
			width: 14px;
			height: 14px;
			border-radius: 50%;
			margin-left: 4px;
			line-height: 12px;
			text-align: center;
			background-color: #656565;
			color: #fff;
			cursor: pointer;
		}
		i:hover {
			opacity: 0.8;
		}
	}
}