.empty {
   width: 18px;
   height: 18px; 
   background: #fff;
   border: 1px solid #656565;
   box-sizing: border-box;
   border-radius: 2px;
} 
.checkbox-word {
       display: inline-block;
       width: 600px;
       font-size: 13px;
       position: relative;
       top: -8px;
       left: 30px;
       color: #2e323c;
       cursor: pointer;
       font-family: AvenirNext-Regular;
}
.filled {
    .empty {
        background: #4A4A4A;
        img {
           margin-bottom: 7px;
        }
    }
    .checkbox-word {
        position: relative;
        top: -35px;
        left: 30px;
    } 
}
.modify .empty {
    .checkbox-word {
        position: relative;
        top: -5px;
        left: 30px;
    } 
    .down {
        position: relative;
        top: -32px;
        left: 30px;
    }
}
.order-table-view {
    tr td {
        height: 40px;
        line-height: 40px;
    }
}