.pager {
	font-family: 'AvenirNext';
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.6px;
	text-align: center;
	color: #4a4a4a;
	margin: 20px 0px !important;
	.paginate {

		.pagination-panel {
			line-height: 35px;
		}

		li:hover {
			cursor: pointer;
		}

		.pagination-panel-input {
			width: 50px;
			text-align: center;
			padding: 0px 0px 0px 10px;
			margin: 0 5px;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 3px;
		}


		.selectsize {
			width: 85px;
			.el-input__inner {
				cursor: pointer;
				padding-right: 25px;
				color: #555;
				background-color: #fff;
				background-image: none;
				border: 1px solid #ccc;
				border-radius: 3px;
			}
		}
	}
	.paginate_num {
		line-height: 31px;
		li {
			margin: 0 10px;
		}
		.active {
			width: 31px;
			height: 31px;
			background: #444545;
			border-radius: 31px;
			box-shadow: 0px 7px 20px rgba(44, 60, 89, 0.07);
			color: #ffffff;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
